body {
    background-color: rgb(16, 16, 16);
}

.go-back {
    font-size: 25px;
    float: right;
    text-decoration: none;
    color: rgb(189, 49, 49);
    margin-top: -90px;
}

.login-title, .register-title{
    text-align: center;
    color: #d1e956;
    margin-top: 100px;
}

.login-form,
.register-form {
    text-align: center;
    font-size: 20px;
}

.email,
.password,
.conf-password {
    color: bisque;
}

#email,
#password,
#conf-password {
    background: none;
    border: none;
    border-bottom: 1px solid rgb(0, 255, 115);
    width: 250px;
    margin-bottom: 10px;
    color: beige;
    font-size: 22px;
}

#email:focus,
#password:focus,
#conf-password:focus {
    outline: none;
}

.submit{
    background-color:gold;
    font-size: 25px;
    border: 1px solid green;
    border-radius: 7px;
    cursor: pointer;
    color:rgb(126, 0, 63)
}

.submit:hover{
    transform: scale(1.1);
    rotate: 2deg;
    background-color: rgb(255, 223, 43);
    color:black;
}

.error {
    text-align: center;
    color: rgb(255, 65, 65);
    font-size: large;
}